#Auth
NEXTAUTH_SECRET="run `openssl rand -base64 32` and paste result here"

# Prisma
DATABASE_URL="postgres://postgres@localhost:5432/postgres?connection_limit=1"
DIRECT_DATABASE_URL="postgres://postgres@localhost:5432/postgres?connection_limit=1"
